.button {
height: 50px;
width: 150px;
background-color: #4d0000;
color: white;
overflow:hidden;
cursor: pointer;
z-index: 1;
position: relative;
font-size: 20px;

}



.button-placement {
width: 100%;
display: flex;
align-items: flex-end;
justify-content: center;
}
